{% extends "base.html" %}

{% block content %}
  <h1 class="py-8 text-center font-extrabold text-4xl">
    Les dernières actualités
  </h1>

  <div class="flex flex-col justify-center items-center space-y-8">
    {% for page in section.pages %}
      <div class="lg:max-w-7xl">
        <div class="max-w-7xl">
          <div class="mt-6 grid grid-cols-1">
            <a href="{{ page.permalink | safe }}" class="max-w-xl bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <img class="rounded-t-lg" draggable="false" width="800" height="100" src="{{page.extra.image}}" alt="{{ page.extra.image_alt }}">
                <div class="p-5">
                  <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{page.title}}</p>
                  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{page.description}}</p>
                </div>
              </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}